@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:regular,bold,italic&subset=latin,latin-ext');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff5d;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
html {
	height: 100%;
  }

body {
	font-family: Cormorant Upright;
	font-size: 16px;
	height: 100%;
	background-image: url('../images/Mask\ Group.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: white;
	border: 0;
	font-size: 14px;
	border-radius: 5px;
	font-weight: 800;
}



/* Chat Page */

.chat-container {
	
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
}
.headers-container{
	position: fixed;
    top: 0;
    width: 80%;
	margin: 0 auto;
}
.chat-header {
	background: #000000;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#user-name{
	color: #deb729;
	font-family: Cormorant Upright;
	text-align: center;
}

.chat-title{
	background-color: #000000;
	text-align: center;
	padding: 10px;
}

.chat-sidebar {
	
	
}



.chat-messages-container {
	background-image: url('../images/Video.png') !important;
	background-repeat: no-repeat;
	height: 400px;
    width: 100%;
	background-size: cover;
	padding: 30px;
	overflow-y: scroll;
	margin-top: 60px;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: whitesmoke;
	border-radius: 5px;
	overflow-wrap: break-word;
	width: 70%;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: teal;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	position: fixed;
    bottom: 0;
    width: 80%;;
	padding: 20px 0px;
	

}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 12px;
	padding: 5px 10px;
	height: 40px;
	flex: 1;
	border-radius: 10px;
	border: 1px solid var(--dark-color-a);
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 40px auto;
	color: #fff;
	background-image: url('../images/bg-image.png');
	background-size: cover;
	background-repeat: no-repeat;
	
}

.join-header {
	text-align: center;
	padding: 20px;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	
}
.title{
	color: white;
	font-size: 60px;
	text-align: center;
	margin-top: 40px;
}
.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}
.message p {
	font-size: 14px;
	color: black;
	font-weight: 800;
	
}
.not-bot{
	background-color: teal !important;
	width: 50%;
	text-align: left !important;
	margin-left: auto; 
     margin-right: 0;
}
.not-bot p{
 color: whitesmoke;
}
.not-bot .meta{
    color: white !important;
}
.not-bot span{
	color: white !important;
}
.meta{
	padding-right: 20px;
    font-size: 18px;
}
.message span{
	padding-left: 10px;
}
@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

@media (max-width: 450px) {
	.chat-header h1{
		font-size: 22px;
	}
	.chat-title h2{
		font-size: 15px;
	}
	.chat-messages .message {
		width: 85%;
	}
	.chat-container {
	  width: 85%;
	}
}
